<footer class="ccs-nav ccs-nav--footer" aria-label="University of Melbourne footer">
    <div class="ccs-foot__aoc">
      <div class="ccs-nav__inner">
        <div class="ccs-nav__group">
          <h2 class="ccs-nav__heading-acknowledgement-country">Acknowledgement of Country</h2>
          <div class="ccs-foot__flags"><img class="ccs-foot__image" src="/images/home/flag-aboriginal.svg" alt="Aboriginal flag"><img class="ccs-foot__image" src="/images/home/flag-torres-strait.svg" alt="Torres Strait Islander flag"></div>
        </div>
        <div class="ccs-nav__group">
          <p class="ccs-nav__text">We acknowledge Aboriginal and Torres Strait Islander people as the Traditional Owners of the unceded lands on which we work, learn and live. We pay respect to Elders past, present and future, and acknowledge the importance of Indigenous knowledge in the Academy.</p>
          <a class="ccs-link ccs-link--inverse" href="https://www.unimelb.edu.au/reconciliation"><img class="ccs-link__image" src="/images/home/icon-arrow-footer.svg" alt="">Read about our Indigenous priorities</a>
        </div>
      </div>
    </div>
    <div class="ccs-foot__main">
      <div class="ccs-nav__inner">
        <ul class="ccs-foot__links">
            <li class="ccs-foot__item"><a class="ccs-link ccs-link--inverse" href="https://about.unimelb.edu.au/"><img class="ccs-link__image" src="/images/home/icon-arrow-footer.svg" alt="">About us</a></li>
            <li class="ccs-foot__item"><a class="ccs-link ccs-link--inverse" href="https://about.unimelb.edu.au/careers"><img class="ccs-link__image" src="/images/home/icon-arrow-footer.svg" alt="">Careers at Melbourne</a></li>
            <li class="ccs-foot__item"><a class="ccs-link ccs-link--inverse" href="https://www.unimelb.edu.au/respect"><img class="ccs-link__image" src="/images/home/icon-arrow-footer.svg" alt="">Safety and respect</a></li>
            <li class="ccs-foot__item"><a class="ccs-link ccs-link--inverse" href="https://www.unimelb.edu.au/newsroom"><img class="ccs-link__image" src="/images/home/icon-arrow-footer.svg" alt="">Newsroom</a></li>
            <li class="ccs-foot__item"><a class="ccs-link ccs-link--inverse" href="https://www.unimelb.edu.au/contact"><img class="ccs-link__image" src="/images/home/icon-arrow-footer.svg" alt="">Contact</a></li>
            <li class="ccs-foot__item"><a class="ccs-link ccs-link--inverse" href="https://about.unimelb.edu.au/priorities-and-partnerships/campus-development/campus-locations"><img class="ccs-link__image" src="/images/home/icon-arrow-footer.svg" alt="">Campus locations</a></li>
        </ul>
        <div class="ccs-foot__contact">
          <h2 class="ccs-foot__label">Contact details</h2>
          <p class="ccs-foot__text">Phone <a class="ccs-foot__text-link-13-melb-13" href="tel:136352">13 MELB (13 6352)</a><br>International <a class="ccs-foot__text-link-61-3-9035" href="tel:+61390355511">+61 3 9035 5511</a></p>
          <address class="ccs-foot__address"><strong class="ccs-foot__address-strong">Address</strong><br>The University of Melbourne<br>Grattan Street, Parkville<br>Victoria 3010<br>Australia</address>
        </div>
        <div class="ccs-nav__group">
          <h2 class="ccs-foot__label">Connect with us</h2>
          <ul class="ccs-foot__social">
            <li class="ccs-foot__item"><a class="ccs-foot__item-link-facebook" href="https://www.facebook.com/unimelb" aria-label="Facebook"><img class="ccs-foot__link-image" src="/images/home/social-facebook.svg" alt=""></a></li>
            <li class="ccs-foot__item"><a class="ccs-foot__item-link-linkedin" href="https://www.linkedin.com/school/university-of-melbourne" aria-label="LinkedIn"><img class="ccs-foot__link-image" src="/images/home/social-linkedin.svg" alt=""></a></li>
            <li class="ccs-foot__item"><a class="ccs-foot__item-link-instagram" href="https://www.instagram.com/unimelb" aria-label="Instagram"><img class="ccs-foot__link-image" src="/images/home/social-instagram.svg" alt=""></a></li>
            <li class="ccs-foot__item"><a class="ccs-foot__item-link-x-twitter" href="https://x.com/unimelb" aria-label="X (Twitter)"><img class="ccs-foot__link-image" src="/images/home/social-x.svg" alt=""></a></li>
          </ul>
        </div>
        <div class="ccs-foot__brand"><a class="ccs-foot__link-university-melbourne-homepage" href="https://www.unimelb.edu.au" aria-label="The University of Melbourne homepage"><img class="ccs-foot__link-image" src="/images/home/uom-logo-vert-ondark.svg" alt=""></a></div>
      </div>
    </div>
    <div class="ccs-foot__last">
      <div class="ccs-nav__inner">
        <ul class="ccs-foot__legal">
          <li class="ccs-foot__item"><a class="ccs-foot__item-link-emergency" href="https://safety.unimelb.edu.au/emergency">Emergency</a></li>
          <li class="ccs-foot__item"><a class="ccs-foot__item-link-terms-privacy" href="https://www.unimelb.edu.au/legal">Terms and privacy</a></li>
          <li class="ccs-foot__item"><a class="ccs-foot__item-link-accessibility" href="https://www.unimelb.edu.au/accessibility">Accessibility</a></li>
          <li class="ccs-foot__item"><a class="ccs-foot__item-link-privacy" href="https://about.unimelb.edu.au/strategy/governance/compliance-obligations/privacy">Privacy</a></li>
        </ul>
        <ul class="ccs-foot__ids">
          <li class="ccs-foot__item">The University of Melbourne (Australian University): <strong class="ccs-foot__item-strong">PRV12150</strong></li>
          <li class="ccs-foot__item">CRICOS: <strong class="ccs-foot__item-strong">00116K</strong></li>
          <li class="ccs-foot__item">ABN: <strong class="ccs-foot__item-strong">84 002 705 224</strong></li>
        </ul>
      </div>
    </div>
  </footer>
